<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"> 
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4/dist/vue-router.global.js"></script>
</head>
<body>
    {% raw %}
    <div id="app" class="container">
        <nav>
            <h1>
                My Tasks
            </h1>
            <div>
                <router-link to="/">Home</router-link>
                <router-link to="/about">About</router-link>
            </div>
        </nav>
        <main>
            <router-view></router-view>
        </main>
    </div>
    {% endraw %}
    <script src="/static/js/script.js"></script>
</body>
</html>